@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: var(--font-outfit), sans-serif;
}

/* Example usage */
.heading {
  font-family: var(--font-ovo), serif;
}

*{
  font-family: Outfit;
}

.nav-hover {
  position: relative;
  overflow: hidden;
}

.nav-hover::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 9999px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
  z-index: -1;
}

.nav-hover:hover::after {
  transform: scaleX(1);
}

/* Dark mode */
.dark .nav-hover::after {
  background: rgba(255, 255, 255, 0.12);
}
@keyframes tempFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.temp-gradient {
  background-size: 200% 200%;
  animation: tempFlow 10s ease-in-out infinite;
}
